.thanh-blog-page-section-all-blog .wd-post-content {
	padding: 15px;
}

.thanh-blog-page-section-all-blog .wd-entities-title.post-title {
	font-size: 18px;
	color: #051f4d;
}

.thanh-blog-page-section-all-blog .wd-entry-content {
	font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}